body{
    margin: 0;
}
nav{
    display: flex;
    background-color: black;
    height: 50px;
    width: 100%;
    flex-direction: row;
    
}

/* .Navright{
    color: white;
} */

li{
    display: inline-block;
    color: white;
    margin-left: 20px;

    /* padding-right: 30px; */
    
    
    
    
}

li:hover{
    border: 1px solid red;

}

.right{
    
    padding-left: 650px;
    ;
}

.container{
    display: flex;
    padding: 20px 20px;
    gap: 30px;
}

.item2 img{
    width: 100px;
}

h2{
    padding:  30px;
    font-size: 30px;
}

.container2{
    display: flex;
    /* background-color: aqua; */
    width: 100vw;
    /* height: 300px; */
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    flex-direction: row;
}

.container2 .item3{
    height: 200px;
    width: 27vw;
    background-color: blue;
    margin: 8px 37px;
    
    
}

